/************* globle css Variable ***********/
$bgcolor: #1d1c1d;
$footerbg:#2c4964;
$primColor : #3d3b3c;
$robotoSlab : "Roboto Slab", serif;
$roboto : "Roboto", sans-serif;
$fontSize14 : 14px ;
$fontSize15 : 15px ;
$fontSize16 : 16px ;
$fontSize18 : 18px ;
$fontSize20 : 20px ;
$fontSize22 : 22px ;
$fontSize24 : 24px ;
$fontSize26 : 26px ;