@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/************* Mixins ***********/
/************* globle css Variable ***********/
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #484848;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  color: #3d3b3c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #1d1c1d;
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

/**************** Hero section*******************/
.hero {
  width: 100%;
  height: auto;
  position: relative;
}
.hero .sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  height: auto;
  background-color: #2c4964 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.hero .navbar {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: transparent;
  transition: all 0.4s ease !important;
}
.hero .navbar .navbar-brand {
  font-family: "Roboto Slab", serif;
}
.hero .navbar .nav-item {
  margin: 0 10px;
}
.hero .navbar .nav-link {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.hero .navbar .nav-link:hover {
  border-bottom: 1px solid #fff;
}
.hero .navbar .nav-link.active {
  border-bottom: 1px solid #fff;
}
.hero .carousel-caption {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  bottom: 71px;
  color: #fff;
  text-align: left;
  min-height: 250px;
  width: 80%;
  right: 0;
  height: 327px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
.hero .carousel-caption .caption_container .heading-caption {
  width: 40%;
  height: auto;
}
.hero .carousel-caption .caption_container .heading-caption h5 {
  font-size: 45px;
}
.hero .carousel-caption .caption_container .caption-footer {
  width: 100%;
  height: auto;
}
.hero .carousel-caption .caption_container .caption-footer h6 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.hero .carousel-caption .caption_container .caption-footer .customBtn {
  padding: 8px 20px;
  background-color: #1d1c1d;
  color: #fff;
  border: 2px solid transparent;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.hero .carousel-caption .caption_container .caption-footer .customBtn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.hero .carousel-control-next, .hero .carousel-control-prev {
  position: absolute;
  top: auto;
  bottom: 20px;
}
.hero .carousel-control-next {
  right: 43px;
}
.hero .carousel-control-prev {
  left: 43px;
}

/******************** gallery-section *************************/
.gallery-section .wrap {
  display: flex;
  flex-wrap: wrap;
}
.gallery-section .wrap .columns {
  flex: 33%;
  max-width: 34%;
  padding: 0 10px;
}
.gallery-section .wrap .columns img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/******************** testimonials-section *************************/
.testimonials h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #3d3b3c;
}
.testimonials p {
  color: #3d3b3c;
  margin: 0;
  padding: 0;
}
.testimonials h2 {
  font-size: 26px;
  font-family: "Roboto Slab", serif;
  color: #3d3b3c;
}
.testimonials .carousel-control-next, .testimonials .carousel-control-prev {
  bottom: 0;
  top: auto;
  width: 15%;
  padding: 0;
  color: #fff;
}
.testimonials .carousel-control-prev {
  right: 544px;
  left: auto;
}
.testimonials .carousel-control-next {
  right: -70px;
}

/************************* coll_action ********************************/
.coll_action {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url("../assets/images/call1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.coll_action h4 {
  font-family: "Roboto Slab", serif;
  font-size: 45px;
  line-height: 68px;
}

/********************** dream_location *************************/
.dream_location {
  width: 100%;
  height: auto;
}
.dream_location h5 {
  font-size: 26px;
}
.dream_location p {
  margin: 0;
  padding: 0;
}
.dream_location .customBtn {
  padding: 8px 20px;
  background-color: #1d1c1d;
  color: #fff;
  border: 2px solid transparent;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.dream_location .customBtn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.dream_location .customBtn:hover {
  color: #3d3b3c;
}

/********************** thumbnail_slider *************************/
.thumbnail_slider {
  width: 100%;
  height: auto;
}
.thumbnail_slider .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
}
.thumbnail_slider .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}
.thumbnail_slider .item2 {
  grid-area: 1/2/1/6;
}
.thumbnail_slider .carousel-control-next, .thumbnail_slider .carousel-control-prev {
  top: auto;
  bottom: 0;
  width: 8%;
  color: #fff;
  text-align: center;
  background: 0 0;
  transition: opacity 0.15s ease;
}
.thumbnail_slider .carousel-control-prev {
  left: 42%;
}
.thumbnail_slider .carousel-control-next {
  right: 42%;
}

/********************** feedback_section *************************/
.feedback_section h5 {
  font-size: 26px;
  font-style: italic;
  font-weight: 200;
}
.feedback_section h6 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

/********************** profile section *************************/
.profile h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.profile h1 {
  font-size: 48px;
}
.profile p {
  margin: 0;
  padding: 0;
}
.profile .customBtn {
  padding: 8px 20px;
  background-color: #1d1c1d;
  color: #fff;
  border: 2px solid transparent;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.profile .customBtn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.profile .customBtn:hover {
  color: #3d3b3c;
}

/************************  testimonials-two *********************************/
.testimonials-two h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #3d3b3c;
}
.testimonials-two p {
  color: #3d3b3c;
  margin: 0;
  padding: 0;
}
.testimonials-two h3 {
  font-size: 26px;
  font-family: "Roboto Slab", serif;
  color: #3d3b3c;
}
.testimonials-two .carousel-control-next, .testimonials-two .carousel-control-prev {
  top: 0;
  bottom: auto;
  width: 10%;
}
.testimonials-two .carousel-control-prev {
  right: 78px;
  left: auto;
}

/************************  advatures-call-action *********************************/
.advatures-call-action {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url("../assets/images/call2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.advatures-call-action h2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 45px;
  line-height: 68px;
}
.advatures-call-action .customBtn {
  padding: 8px 20px;
  background-color: #1d1c1d;
  color: #fff;
  border: 2px solid transparent;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.advatures-call-action .customBtn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.advatures-call-action .customBtn:hover {
  color: #fff;
}
.advatures-call-action p {
  color: #fff;
  margin: 0;
  padding: 0;
}

/************************  contact-form *********************************/
.contact-form h3 {
  font-size: 26px;
  font-family: "Roboto Slab", serif;
  color: #3d3b3c;
}
.contact-form .customBtn {
  padding: 8px 20px;
  background-color: #1d1c1d;
  color: #fff;
  border: 2px solid transparent;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.contact-form .customBtn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.contact-form .customBtn:hover {
  color: #1d1c1d;
}

/************************  footer-section *********************************/
.footer-section {
  background-color: #2c4964;
}
.footer-section h6 {
  font-size: 15px;
  font-weight: "Roboto Slab", serif;
  color: #fff;
}

@media (min-width: 150px) and (max-width: 991px) {
  .hero {
    width: 100%;
    height: auto;
    position: inherit;
  }
  .hero .navbar {
    width: 100%;
    height: auto;
    background: #2c4964;
    position: static;
    padding: 0 25px;
  }
  .hero .navbar .navbar-brand {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
  }
  .hero .navbar .nav-item {
    margin: 0px;
  }
  .hero .navbar .nav-link:hover {
    border-bottom: 1px solid #333;
  }
  .hero .navbar .nav-link.active {
    border-bottom: 1px solid #333;
  }
  .hero .carousel-control-next, .hero .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 20px;
  }
}
@media (min-width: 150px) and (max-width: 768px) {
  .gallery-section .columns {
    flex: 100%;
    max-width: 100%;
    padding: 0 0px;
  }
  .testimonials i {
    font-size: 26px !important;
  }
  .testimonials h2 {
    margin-bottom: 10px;
  }
  .testimonials .carousel-control-prev {
    right: auto;
    left: 0;
  }
  .testimonials .carousel-control-next {
    right: 0;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .hero .carousel-caption {
    left: 0;
    bottom: 35px;
    min-height: 120px;
    height: 277px;
  }
  .hero .carousel-caption .caption_container .heading-caption {
    width: 70%;
    height: auto;
  }
  .hero .carousel-caption .caption_container .heading-caption h5 {
    font-size: 32px;
  }
}
/*******big screen**********/
@media (min-width: 1920px) and (max-width: 2560px) {
  .hero .carousel-caption {
    position: absolute;
    left: 0;
    width: 69%;
    height: 427px;
  }
  .hero .carousel-control-prev {
    left: 163px;
  }
  .hero .carousel-control-next {
    right: 163px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero .carousel-caption {
    min-height: 230px;
    height: 207px;
    width: 92%;
  }
  .hero .carousel-caption .caption_container .heading-caption {
    width: 80%;
  }
  .hero .carousel-control-prev {
    left: 0px;
  }
  .hero .carousel-control-next {
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */